<div >
    <h1>Добавление книги</h1>

    <form>
        <table>
            <tr>

                <td><input type = "text" placeholder = "Название книги" ng-model = "bookTitle"></td><br>
                <td><input type = "text" placeholder = "Цена книги" ng-model = "price"></td><br>
                <td><input type = "file" accept = "img/*" ng-model = "poster" id = "images"></td><br>
            </tr>
        </table>
        <input type = "submit" value = "Добавить" ng-click = "addNewBook()">
    </form>
</div>