<div >
    <h1>Добавление описания книгам</h1>

    <form>
        <table>
            <tr>
            <label for="repeatSelect"> Выберите книгу для добавления описания </label>
            <select name="repeatSelect" id="repeatSelect" ng-model="repeatSelect">
                <option ng-repeat="book in books" value="{{book.getTitle()}}">{{book.getTitle()}}</option>
            </select>

            <hr><tt>Выбрано: {{repeatSelect}}</tt><br/>



                <td><input type = "text" placeholder = "Добавить авторов книги" ng-model = "avtorsAdd"></td><br>
                <td><input type = "text" placeholder = "Добавить издательство" ng-model = "izdatelAdd"></td><br>
                <td><input type = "text" placeholder = "Добавить комментарии" ng-model = "detailsAdd"></td><br>

            </tr>
        </table>
        <input type = "submit" value = "Добавить" ng-click = "addBookDetails()">
    </form>
</div>