<div >
    <h1>Редактировать книгу</h1>


        <table>
            <tr>
                <label for="repeatSelect"> Выберите книгу для редактирования: </label>
                <select name="repeatSelect" id="repeatSelect" ng-model="repeatSelect">
                    <option ng-repeat="book in books" value="{{book.getTitle()}}">{{book.getTitle()}}</option>
                </select>

             <hr><tt>Выбрано: {{repeatSelect}}</tt><br/>

                <td><input type = "text" placeholder = "Изменить название книги" ng-model = "titleEdit"></td><br>
                <td><input type = "text" placeholder = "Изменить цену книги" ng-model = "priceEdit"></td><br>
                <td><input type = "file" accept = "img/*" ng-model = "imageEdit" id="images" ></td><br>

            </tr>
        </table>
        <input type = "submit" value = "Сохранить" ng-click = "bookEditClick()">
    </form>
</div>